#acceuil {
    position: relative;
    background-color: rgba(146, 206, 255, .2);

    h1 {
        color: #004085;
    }

    #goBack {
        cursor: pointer;
    }
}

#myDropboxFiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .folder {
        cursor: pointer;
    }

    .folder,
    .file {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .2em;

        &:hover {
            .delete-file-btn {
                display: inline;
            }
        }

        h2 {
            font-size: 1em;
        }

        i {
            position: relative;
            font-size: 2.5em;

            .delete-file-btn {
                position: absolute;
                display: none;
                top: -.4em;
                right: -.4em;
                font-size: .5em;
                color: red;
                cursor: pointer;
            }
        }

    }
}

#sendFile {
    background-color: #D4EDDA;

    h1 {
        color: #155724;
    }
}

#map {
    height: 400px;
}

#modal {
    #modalContent {
        margin: 0;

        .alert {
            margin: 0;
            text-align: center;
        }
    }
}